<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="author" content="Name">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Title</title>
        <link href="../css/style.css" rel="stylesheet" type="text/css">
    
    </head>
    
    <body>
        <!-- Replace all placeholder content before publishing -->
        <header>
            <h1>Page Heading</h1>
        </header>

        <main>
            <section>
                <h2>Section Heading</h2>
                <p>Content goes here.</p>
            </section>
        </main>

        <footer>
            <p><a href="../index.html">Back to Main Page</a></p>
            <p>This page created as academic activity only.</p>
        </footer>
    </body>
</html>